.promotion{
background-color:rgb(250,250,250);
border:1px rgb(230,230,230) solid;
border-radius:10px;
width:260px;
padding:10px;
margin-bottom:20px;
}

.promotionImage{
width:80px;
height:80px;
float:left;
}

.promotionContent{
width:150px;
height:auto;
float:left;
margin-left:10px;
font-size:13px;
}

.promotionTitle{
font-weight:bolder;
margin-bottom:10px;
}

.takePromotion{
padding:5px;
background-color:rgb(100,100,100);
border:1px rgb(230,230,230) solid;
border-radius:10px;
text-decoration:none;
color:#000;
font-size:13px;
font-weight:bolder;
color:#fff;
}

.takePromotionDiv{
margin-top:10px;
margin-left:90px;
margin-bottom:10px;
}