.sharing{
width:600px;
height:auto;
border-radius:10px;
background-color:rgb(250,250,250);
border:1px rgb(230,230,230) solid;
padding-top:20px;
padding-bottom:20px;
margin-bottom:10px;
}

.sharing_ppdiv{
width:80px;
margin-left:20px;
float:left;
}

.sharing_contentsdiv{
width:370px;
margin-left:20px;
float:left;
}

.sharingFooter{
margin-top:20px;
}

.sharingNotifications{
float:right;
margin-right:10px;
cursor:pointer;
background-color:rgb(150,150,150);
color:rgb(255,255,255);
border-radius:10px;
padding-bottom:2px;
padding-left:4px;
padding-right:4px;
margin-top:10px;
}

.sharingSocialActivity{
margin-left:120px;
}

.sharingOwnership{
font-size:16px;
font-weight:bolder;
}

.sharingContents{
margin-top:10px;
font-size:14px;
}

.sharingPp{
width:80px;
height:80px
}

.sharingCritics{
float:left;
background-color:rgb(255,255,255);
border:1px rgb(230,230,230) solid;
border-radius:10px;
margin-right:10px;
font-size:11px;
cursor:pointer;
}

.sharingCriticsCounter{
float:left;
background-color:rgb(150,150,150);
color:#fff;
padding:5px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
paddin-left:10px;
padding-right:10px;
}

.sharingCriticsType{
float:left;
padding:5px;
}

.sharingFilters{
width:600px;
height:auto;
border-radius:10px;
background-color:#fff;
border:1px rgb(230,230,230) solid;
margin-bottom:10px;
}

.sharingFilter{
padding-top:5px;
padding-bottom:5px;
width:33%;
text-align:center;
border-right:1px rgb(230,230,230) solid;
cursor:pointer;
font-size:13px;
float:left;
}

#sharingComments{
width:400px;
height:auto;
}

.sharingComment{
background-color:rgb(255,255,255);
border:1px rgb(230,230,230) solid;
border-radius:10px;
width:400px;
height:auto;
margin-left:120px;
margin-top:10px;
padding-top:10px;
padding-bottom:10px;
}

.sharingTime{
float:right;
font-size:13px;
margin-right:10px;
}

.commentPP{
width:40px;
height:40px;
float:left;
margin-left:10px;
}

.comment{
float:left;
margin-left:10px;
width:250px;
}

.commentOwnership{
font-size:13px;
font-weight:bolder;
}

.commentContents{
margin-top:2px;
font-size:13px;
}

.commentTime{
font-size:13px;
float:right;
margin-right:10px;
}

#shareSomething{
width:600px;
height:auto;
border-radius:10px;
background-color:rgb(250,250,250);
border:1px rgb(230,230,230) solid;
margin-bottom:10px;
font-size:14px;
}

#shareSomethingType{
width:480px;
height:auto;
background-color:#fff;
margin-top:5px;
margin-left:50px;
border:1px rgb(230,230,230) solid;
border-radius:10px;
}

.shareSomethingTypeItem{
width:33%;
border-right:1px rgb(230,230,230) solid;
text-align:center;
padding-top:5px;
padding-bottom:5px;
cursor:pointer;
font-size:13px;
float:left;
}

#sharingTypeText{
margin-top:5px;
margin-left:50px;
}

#sharingTextArea{
width:460px;
height:auto;
background-color:#fff;
border:1px rgb(230,230,230) solid;
border-radius:10px;
font-size:12px;
padding:10px;
}

#shareSomethingDetails{
width:480px;
height:0px;
margin-left:50px;
margin-bottom:5px;
overflow:hidden;
}

#shareSomethingButton{
height:auto;
background-color:#fff;
border:1px rgb(230,230,230) solid;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
font-size:13px;
padding-top:5px;
padding-bottom:5px;
text-align:center;
width:120px;
cursor:pointer;
float:right;
margin-right:-140px;
}

#shareSomethingPlace{
height:auto;
width:300px;
background-color:#fff;
border:1px rgb(230,230,230) solid;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
font-size:13px;
float:left;
margin-left:-320px;
}

.shareSomethingPlaceItem{
width:49%;
cursor:pointer;
border-right:1px rgb(230,230,230) solid;
float:left;
text-align:center;
font-size:13px;
padding-top:5px;
padding-bottom:5px;
}

.commentSharing{
width:400px;
height:auto;
background-color:#fff;
border:1px rgb(230,230,230) solid;
border-radius:10px;
margin-left:120px;
margin-top:10px;
}

.commentSharingArea{
border:0;
width:350px;
font-size:13px;
height:auto;
padding:5px;
margin-left:5px;
}